/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
} */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@300;400;600&family=Quicksand:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Quicksand', 'Nunito', sans-serif;
    font-weight: 300;
    /* halki si font weight */
    letter-spacing: 0.5px;
    /* halka spacing */
    text-transform: capitalize;
}


.mycontainer {
    max-width: 1300px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* header-section */

.main-header {
    background-color: #D6F5F0;
}

.header {
    background-color: #D6F5F0;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}

.header-p {
    font-size: 13px;
    font-weight: 600;
    word-spacing: 2px;
    margin-top: 15px;
    margin-left: 50px;
}

.header-p:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.header-ul {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 12px;
    font-weight: 600;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-right: 50px;
}

.header-ul li:hover {
    text-decoration: underline;
}

/* navbar-section */

.navbar {
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.nav {
    background-color: #FFFFFF;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;

}

.logo {
    height: 60px;
    width: 130px;
}

.logo-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* nav list */

.nav-ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-weight: 600;
    flex-wrap: wrap;
    margin-right: 250px;
    margin-top: 10px;
}

.nav-ul li:hover {
    color: #0D7377;
    text-decoration: underline;
    text-decoration-color: #17FBD2;
    text-decoration-thickness: 3px;
    text-underline-offset: 9px;
}

/* search */

.nav-inp {
    position: relative;
    width: 180px;
}

.search-inp {
    height: 35px;
    width: 100%;
    background-color: #F2F2F2;
    border: none;
    outline: none;
    border-radius: 50px;
    padding-left: 35px;

}

.nav-inp i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    margin-right: 50px;
}

/* icons */

.nav-icon {
    display: flex;
    gap: 20px;
}

.nav-icon i {
    font-size: 22px;
    cursor: pointer;
}

/* mobile responsive */

@media (max-width: 768px) {

    .header,
    .nav {
        justify-content: center;
        text-align: center;
        gap: 10px;
    }

    .nav-ul {
        justify-content: center;
        font-size: 16px;
    }

    .nav-inp {
        width: 100%;
        max-width: 220px;
    }
}

/* banner-section */

.video-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
}

.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translate(-50%, -50%);
    object-fit: cover;
    cursor: pointer;
}

.video-content {
    position: relative;
    z-index: 2;
    color: black;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    right: 35%;
    line-height: 40px;
}

.video-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 40px;
    font-weight: 500;
}

.video-content h1 {
    font-size: 65px;
    margin: 10px 0;
    font-weight: 600;
}

.video-content p {
    font-size: 22px;
    margin-top: 15px;
    font-weight: 500;
    margin-left: 150px;
}

.video-btn1 {
    margin-top: 25px;
    padding: 8px 40px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: #17FBD2;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
     transition: transform 0.6s ease, background-color 0.6s ease, color 0.6s ease;
}

.video-btn1:hover {
    background-color: #28d7ba;
    transform: scale(1.1);
}

.video-btn2 {
    margin-top: 25px;
    margin-left: 10px;
    padding: 4px 50px;
    font-size: 16px;
    font-weight: 600;
    color: #17FBD2;
    background-color: transparent;
    border: 2px solid #17FBD2;
    border-radius: 30px;
    cursor: pointer;
     transition: transform 0.6s ease, background-color 0.6s ease, color 0.6s ease;
}

.video-btn2:hover {
    transform: scale(1.1);
    background-color: #17FBD2;
    color: black;
}

/* mobile responsive */

@media (max-width: 768px) {
    .video-container {
        height: 500px;
    }

    .video-content {
        right: 0;
        padding: 0 20px;
    }

    .video-content h1 {
        font-size: 40px;
    }

    .video-content p {
        font-size: 18px;
        margin-left: 0;
    }
}

/* Hero-section */

#hero1 {
    height: 500px;
    background-image: url('./Images/banner_hero_new.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


.hero1-content {
    padding: 80px 0 0 60px;

}

#hero1 h5 {
    font-size: 20px;
    margin-bottom: 10px;

    font-weight: 500;
}

#hero1 h1 {
    font-size: 50px;
}

#hero1 p {
    font-size: 20px;
    margin-top: 15px;
    max-width: 500px;
}

#hero1 a {
    color: black;
}

#hero1 a:hover {
    text-decoration: none;
}

/* mobile responsive */

@media (max-width: 768px) {
    #hero1 {
        height: 400px;
    }

    .hero1-content {
        padding: 40px 20px 0 20px;
    }

    #hero1 h1 {
        font-size: 30px;
    }

    #hero1 p {
        font-size: 16px;
        max-width: 100%;
    }
}

/* cart-section  */

.cart-h1 {
    font-size: 38px;
    margin: 40px 0 0 80px;
    font-weight: 600;
}

.main-section {
    background-color: #ffffff;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    cursor: pointer;
}

.cart1 {
    height: 450px;
    width: 320px;
    border-radius: 30px;
    background-color: #dfdddd;
}

.image1 {
    height: 85%;
    width: 83%;
    margin: 0px 0px 0px 55px;
    border-radius: 0px 20px 0px 20px;
}

.img1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img1:hover {
    transform: scale(1.11);
    transition: transform 0.3s ease;
}

.image2 {
    height: 85%;
    width: 83%;
    margin: 0px 0px 0px 55px;
    border-radius: 0px 20px 40% 50%;
}

.image3 {
    height: 50%;
    width: 100%;
    margin-top: 100px;
}

.heading-1 {
    font-size: 26px;
    margin: 15px 0 0 20px;
    font-weight: 600;
}

.heading-2 {
    font-size: 26px;
    margin: 15px 0 0 20px;
    font-weight: 500;
}

.heading-3 {
    font-size: 26px;
    margin: 70px 0 0 20px;
    font-weight: 500;
}

.heading-1:hover,
.heading-2:hover,
.heading-3:hover {
    text-decoration: underline;
}

/* mobile responsive */

@media (max-width: 768px) {
    .cart-h1 {
        font-size: 28px;
        margin: 20px 0 0 20px;
    }

}



/* hero2-section  */

.hero2 {
    min-height: 850px;
    background-color: #0D3A38;
    cursor: pointer;
}

.hero2-content {
    padding: 60px 0 0 0px;
    color: white;
    margin: 0px 0px 0px 350px;
}

.hero2-content h2 {
    font-size: 30px;
    margin-left: 90px;
}

.hero2-content h1 {
    font-size: 52px;
    margin-left: 40px;
}

.hero2-content span {
    margin-left: 150px;
}

.hero2-btn {
    margin-top: 10px;
    margin-left: 100px;
    padding: 8px 40px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: #17FBD2;
    border: none;
    border-radius: 30px;
    cursor: pointer;
     transition: transform 0.6s ease, background-color 0.6s ease, color 0.6s ease;
}

.hero2-btn:hover {
    background-color: #28d7ba;
    transform: scale(1.1);
}

/* mobile responsive */

@media (max-width: 768px) {
    .hero2-content {
        margin: 0px 20px 0px 20px;
        padding: 40px 0 0 0px;
    }

    .hero2-content h1 {
        font-size: 36px;
        margin-left: 0px;
    }

    .hero2-content h2 {
        font-size: 24px;
        margin-left: 0px;
    }

    .hero2-content span {
        margin-left: 0px;
    }

    .hero2-btn {
        margin-left: 0px;
    }
}


.hero2-section {
    min-height: 450px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    cursor: pointer;
}


.cart2 {
    height: 450px;
    width: 320px;
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
        url(./images/img2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 40px;
    border-radius: 30px;
    background-color: #dfdddd;
    transition: transform 0.3s ease;
}

.cart2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.cart2 h2 {
    font-size: 32px;
    margin: 360px 0 0 40px;
    font-weight: 600;
    color: #FFFFFF;
}

.cart3 {
    height: 450px;
    width: 320px;
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
        url(./images/img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 40px;
    border-radius: 30px;
    background-color: #dfdddd;
    transition: transform 0.3s ease;
}

.cart3:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.cart3 h2 {
    font-size: 32px;
    margin: 350px 0 0 40px;
    font-weight: 600;
    color: #FFFFFF;
}

.cart4 {
    height: 450px;
    width: 320px;
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
        url(./images/img4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 40px;
    border-radius: 30px;
    background-color: #dfdddd;
    transition: transform 0.3s ease;
}

.cart4:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.cart4 h2 {
    font-size: 32px;
    margin: 350px 0 0 10px;
    font-weight: 600;
    color: #FFFFFF;
}